#login {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

#loginPage {
  margin-top: 35%;
}

#register {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

#logo {
  margin-left: 42%;
}
.ripple-parent {
  position: relative;
  overflow: hidden;
}
#eye {
  margin: auto;
}
